<%# 部分テンプレートの命名規則：ファイル名の前に「＿」を付ける。 %>

<div class="chat-head">
  <div class="head-left">
    <div class="chat-room_name">
      チャットルーム名
    </div>
  </div>
  <div class="head-right">
    <div class="chat-end">
      <a>チャットを終了する</a>
    </div>
  </div>
</div>


<div class="messages">
  <%= render partial: 'message', collection: @messages %>
</div>



<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="input-area">
    <%= f.text_field :content, class: 'input-text', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'submit-button' %>
<% end %>